<div class="container">
    <a [routerLink]="['/eshop/dashboard']">Go to Dashboard</a>
    <h3> folder structure:</h3>
    <p>
        /src
    </p>
    <p>|--/app</p>
    <p>|--|--/modules</p>
    <p>|--|--|--/auth</p>
    <p>|--|--|--|--/login</p>
    <p>|--|--|--/products</p>
    <p>|--|--|--|--/about</p>
    <p>|--|--|--|--/header</p>
    <p>|--|--|--|--/product-list</p>
    <p>|--|--/services</p>
    <p>|--|--|/app-services</p>

    <h3 style="margin-top:1em;">how to start</h3>
    <p>1.To run the application system should install node and angular cli</p>
    <p>2.Clone the project by using this url and this command <span style="font-size: 1.2rem;color: blue;"><u>git clone
                {{"{{'url'}}"}} </u></span></p>
    <p>Note url is <u style="color: blue;">https://github.com/Yatheesh23/Promilo-assignment.git</u></p>
    <p>3.open the terminal from project path</p>
    <p>4.Do the npm install command is <span style="font-size: 1.2rem;color: blue;"><u>npm i</u></span></p>
    <p>4.After successfully install npm finally run the project by using command <span
            style="font-size: 1.2rem;color: blue;">
            <u>ng s -o</u>
        </span></p>

    <h3 style="margin-top:1em;">difficulty </h3>
    <p>While integrating login iam getting always unautherized error i have tryed multiple ways and iam ensure that i
        have converted converted into sha256 format before calling Login API so i have implemented by just calling api
        and by passing dummy accesston because of that not able to secure the routers</p>
    <p>I have attached image for your reference below</p>
    <img src="../../../../assets/error.png" style="width: 100%;" />



</div>